<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <title>Document</title>
</head>

<body>
    <div id="app" class="container">
        
        <read inline-template @editevent="edit($event)">
            <div>
            <p>Search: <input type="text" v-model="search"></p>
            <div>
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th v-for="elem in heads" @click="sortBy(elem)">{{elem}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="elem in filtered">
                            <td v-for="k in heads">{{elem[k]}}</td>
                            <td>
                                <button type="button" class="btn btn-success editbtn" @click="edit(elem.id)"> EDIT </button>
                              </td>
                              <td>
                                <button type="button" class="btn btn-danger deletebtn" @click="deletem(elem.id)"> DELETE </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        </read>
        <edit :mode="mode" :id="editid" inline-template>
            <div>
            <p v-if="mode=='edit'"><b>Edytuj rekord</b></p>
            <p v-else><b>Stwórz nowy rekord</b></p>


            <div>
                <form :action="action" method="POST">
                <input type="hidden" class="form-control" :value="cruddata.id" name="id">

                <div class="from-group" v-for="elem in $parent.dane" v-if="elem.nazwa != 'id'">
                    <label :for="elem.nazwa">{{elem.nazwa}}</label>    
                    <input :type="elem.typ=='date' ? 'date' : 'text'" :name="elem.nazwa" :value="cruddata[elem.nazwa]">
                </div>
                <button type="submit">zapisz</button>
                </form>
            </div>
        </div>

        </edit>        
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="script.js"></script>

</body>

</html>